# 1. Import libraries

In [1]:
import pandas as pd 
from sklearn.neighbors import KNeighborsClassifier

# 2. Dataset

In [2]:
dataset_path = '../datasets/train.csv'
df = pd.read_csv(dataset_path)

In [3]:
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

# 3. Seleção de features

In [4]:
df.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

In [5]:
features = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']
label = 'limite_adicional'

x_train = df.loc[:, features]
y_train = df.loc[:, label]

In [6]:
y_train

0       Negar
1       Negar
2       Negar
3       Negar
4       Negar
        ...
9495    Negar
9496    Negar
9497    Negar
9498    Negar
9499    Negar
Name: limite_adicional, Length: 9500, dtype: object

# 4. Treinamento

In [7]:
# definição de parâmetros do treinamento
k = 7
knn_classifier = KNeighborsClassifier(n_neighbors = k)

# treinamento do algoritmo
knn_classifier.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [8]:
# vamos fazer a predição no mesmo conjunto de treino, só para testar
y_pred = knn_classifier.predict(x_train)

In [9]:
y_pred

array(['Negar', 'Negar', 'Negar', ..., 'Negar', 'Negar', 'Negar'],
      dtype=object)

In [10]:
df_result = df.copy()
df_result['classificacao'] = y_pred
df_result.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional,classificacao
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar,Negar

In [11]:
df_result.sample(15)

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional,classificacao
3198,9246,38,1252.754637,344.42,164726.16412,134.201478,34.925613,2,1,7,6,0,1261,9,Não,Não,Negar,Negar
2538,10596,47,247.646165,3750.27,11103.79855,83.209566,32.529800,7,9,10,43,13,12,29,Não,Não,Negar,Negar
2140,2047,25,333.448441,1062.67,15799.92245,24.222476,34.624663,0,5,7,17,14,7,8,Não,Não,Negar,Negar
9042,5905,41,376.123881,894.15,47748.12350,10000.000000,36.197412,3,6,7,29,8,1,11,Não,Não,Negar,Conceder
9264,947,59,342.521553,43.06,34459.32203,110.199646,26.289798,2,3,6,24,13,1,10,Não,Não,Negar,Negar
8235,2851,32,433.667622,634.52,54086.39600,91.476811,25.930909,3,3,7,18,12,0,18,Não,Não,Negar,Negar
8299,12208,47,271.731157,2216.82,19244.08983,63.157360,32.216932,6,6,7,24,14,7,29,Não,Não,Negar,Negar
7401,2446,25,396.719971,2343.60,47134.81500,111.188386,32.219438,3,9,8,20,15,4,22,Não,Não,Negar,Negar
947,7927,47,272.734234,1935.68,44852.92980,136.700743,31.013575,6,7,10,24,15,12,22,Não,Não,Negar,Negar
5738,11076,26,573.901611,122.73,61440.56100,29.878978,29.921759,2,8,3,8,19,1,6,Sim,Não,Negar,Negar
1555,6373,49,321.182080,946.91,42697.78758,131.183602,33.231940,4,1,2,9,6,0,10,Não,Não,Conceder,Negar
4230,5401,33,0.088628,2229.82,67201.96875,134.201478,36.236090,5,7,7,8,21,5,16,Sim,Não,Negar,Negar
968,9920,30,1053.498631,41.35,129791.81072,134.201478,30.550164,1,0,6,8,11,4,5,Sim,Não,Negar,Conceder
5976,2332,30,171.918489,1527.44,83218.87744,371.974137,28.028643,6,4,3,19,16,10,17,Não,Não,Negar,Negar
6172,1491,47,472.675273,1145.17,75912.12560,10000.000000,27.865417,3,7,4,25,9,2,10,Não,Não,Conceder,Negar

- O algortimo pode cometer alguns erros. 
- Usamos métricas para ver o quão bom ele é na classificação.